#adminName{
    width: 70%;
}
#adminMail{
    width: 70%;
}
#adminPhone{
    width: 70%;
}
#adminCompany{
    width: 70%;
}
#adminPassword{
    width: 70%;
}
#key{
    width: 70%;
}
#label{
    display: block;
    margin-top: 11px;
}
#registerbutton{
    margin-top: 2%;
    background-color: #BBBE64;
}
#cuenta{
    padding-top: 3px;
}
#sesión{
    color: #E4BB59;
}
#botonRegistrar{
    text-align: center;
}
#registro{
    text-align: center;
    color: #47525E;
}
@media (min-width: 720px){
    .registrarAdmin{
        padding-left: 23%;
    }
}

