header{
    background-color: white;
}
.navBar{
    justify-content: center;
    display: flex;
    align-items: center;
}
#logoCompleto{
    width: 80%;
}
body{
    background-color: #EFF0EC;
    color: #47525E;
}
.navbar-nav{
    font-size: 14px;
    align-items: center;
    justify-content: center;
    flex-direction: inherit;
    
}
#registro{
    text-align: center;
    color: #47525E;

}
.navbar-brand {
    display: inline-table;
    padding: 3px;
    height: 0;
}
.navbar{
    justify-content: center;
    align-items: center;
    display: contents;
}
.navbar-nav .nav-link {
    padding-right: 3%;
    padding-left: 0;
}
#registroAdmin{
    align-items: center;
}
.form-group {
    margin-bottom: 0px;
}
#exit{
    color: #E4BB59;
}

#adminName{
    width: 50%;
}
#adminMail{
    width: 50%;
}
#adminPhone{
    width: 50%;
}
#adminCompany{
    width: 50%;
}
#adminPassword{
    width: 50%;
}
#key{
    width: 50%;
}
label{
    margin-top: 13px;
}
#registerbutton{
    margin-top: 2%;
    background-color: #BBBE64;
}
#cuenta{
    padding-top: 3px;
}
#sesión{
    color: #E4BB59;
}
.activado{
    color: #E4BB59;
}
#botonRegistrar{
    text-align: center;
}

